<h2 id="title">Test app for bf-gauge</h2>

<div style="display: inline-block; width: 200px;">
  {{bf-gauge}}
</div>
<div style="display: inline-block; width: 150px;">
  {{bf-gauge}}
</div>
<div style="display: inline-block; width: 70px;">
  {{bf-gauge}}
</div>
