<h2 id="title">Test app for bf-gauge</h2>

<div style="display: inline-block; width: 200px;">
  {{bf-gauge title="Large gauge" value=35}}
</div>
<div style="display: inline-block; width: 150px;">
  {{bf-gauge title="Medium gauge" value=42 max=50 showPercent=true}}
</div>
<div style="display: inline-block; width: 80px;">
  {{bf-gauge title="Small gauge" value=27 min=20 max=30}}
</div>
